<!DOCTYPE html>
<html>
<head>
	<title>Entertainment</title>
</head>
<link rel="stylesheet" href="css/main.css">
<body>
	<div id="container">
		
	</div>
</body>
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<script>
var data=<%- JSON.stringify(data)%>;
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<script src= "interface/<%=script%>.js"></script>
</html>