body{
	margin:0;
}
#header{
	padding:10px;
	font-size:30px;
	background:#3d9ea2;
	color:white;
	font-family:"Agency FB";
	margin:0 0 10px 0;
}
main{
	margin:auto;
	width:90%;
	font-family:Open Sans;
}
main .list{
	width:80%;
	float:left;
}
main h3{
	margin:0;
}

main .filter{
	padding:0 0 5px 0;
}

.filter select{
	border-radius:5px;
	outline:none;
}
nav{
	float:left;
}
nav a{
	text-decoration:none;
}
nav li{
	list-style-type:none;
}
table{
	width:100%;
	color:#8a8ac7;
	border-collapse:collapse;
}
table th{
	color:white;
	text-align:left;	
	background:#3d9ea2;
	width:33%;
	font-weight:normal;
}
table th:nth-child(2){
	width:10%;
}
table tr{
	font-size:15px;
}
table tr:nth-child(even){
	background:#e4f9f5a6;
}
table tr:nth-child(odd){
	background:#93bbb33b;
}
a,a:visited{
	text-decoration:none;
	color:#8a8ac7;
}
a:hover{
	text-decoration:none;
	color:#3d3da0;
}
nav{
	display:inline-block;
	font-size:15px;
}
.list button{
	color:white;
	width: 100%;
    background: #53b1b5;
	font-size:15px;
	padding:3px;
	box-sizing:border-box;
    border: 0;
	outline:none;
}
form{
	margin:auto;
	width:300px;
	padding:10px;
	font-size:13px;
}
form label{
	display:block;
	padding:5px;
	color:#564d4d;
}
form input,form select{
	width:300px;
	height:30px;
	margin:5px;
	color:#564d4d;
	padding:3px;
	border-radius:10px;
	background:white;
	border:1px solid #e4d6d6;
	outline:none;
	box-sizing:border-box;
}
form input.warning{
	border:1px solid #e25858;
}
form img{
	float:left;
}
form span{
	text-align:center;
	display:block;
	color:#a59898;
	float:left;
	width:150px;
	padding:10px;
}
form span a,form span a:visited{
	color:#a59898;
}